@page "/products"
@using ForBlazorLocalStorageService.Client.Services;
@using ForBlazorLocalStorageService.Client.Services.Order;
@inject ICartExampleService _cartExampleService
@inject IOrderService _orderService

@foreach (var item in products)
{
    <div class="card">
        <h5>@item.Name</h5>
        <h6>@item.Description</h6>
         <button @onclick="@(() => DeleteLocalStorage(item.Id))" class="btn btn-warning">Delete Product</button>
        <button @onclick="StoreItem" class="btn btn-warning">Store Product</button>

    </div>
}


@code {
    List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = await _cartExampleService.GetProductsAsync();
    }

    private async Task DeleteLocalStorage(int productId)
    {
        await _cartExampleService.DeleteProductAsync(productId);
        products = await _cartExampleService.GetProductsAsync();
    }

    private async Task StoreItem()
    {
        await _orderService.CreateOrder();
    }

}
